body {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: hsl(226, 43%, 10%);

	position: absolute;
	width: 100%;
	height: 100%;
}

.container {
	background-color: aliceblue;
	margin: 50px 0;
	display: flex;
}
.row {
	display: flex;
}

.profile {
	width: 260px;
	height: 600px;
	background-color: blueviolet;
}

.element {
	background-color: blueviolet;
	border-radius: 20px;
	margin: 5px;
	overflow: hidden;
}

.block {
	width: 260px;
	height: 200px;

	position: relative;
}

.folder-img {
	position: absolute;
	right: 20px;
	top: -10px;
}

.block-panel {
	background-color: brown;
	height: 160px;
	width: 260px;
	border-radius: 20px;

	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;

	box-sizing: border-box;
	padding: 20px;
}
.header {
	display: flex;
	justify-content: space-between;
}
.header img {
	width: 20px;
	height: 5px;
}

/*CATEGORIES FOR ELEMENTS*/
.work {
	background-color: hsl(15, 100%, 70%);
}
.play {
	background-color: hsl(195, 74%, 62%);
}
.study {
	background-color: hsl(348, 100%, 68%);
}
.exercise {
	background-color: hsl(145, 58%, 55%);
}
.social {
	background-color: hsl(264, 64%, 52%);
}
.self-care {
	background-color: hsl(43, 84%, 65%);
}

/*--- RESPONSIVIDADE ---*/
@media (max-width: 1150px) {
	.square {
		display: flex;
	}
	.row {
		display: block;
	}
}

@media (max-width: 750px) {
	body {
		position: relative;
	}
	.square {
		display: block;
	}
	.container {
		flex-direction: column;
		width: 87%;
		height: fit-content;
		top: 0;
	}
	.profile {
		height: 200px;
		margin: 0;
	}
	.element {
		width: 100%;
		margin: 25px 0 0 0;
	}
	.block-panel {
		width: 100%;
	}
}
/*

Report for Jeremy Robson Daily Weekly Monthly Work 5hrs
		<!-- daily -->
		Previous - 7hrs
		<!-- daily -->
		32hrs
		<!-- weekly -->
		Previous - 36hrs
		<!-- weekly -->
		103hrs
		<!-- monthly -->
		Previous - 128hrs
		<!-- monthly -->

		Play 1hr
		<!-- daily -->
		Previous - 2hrs
		<!-- daily -->
		10hrs
		<!-- weekly -->
		Previous - 8hrs
		<!-- weekly -->
		23hrs
		<!-- monthly -->
		Previous - 29hrs
		<!-- monthly -->

		Study 0hrs
		<!-- daily -->
		Previous - 1hr
		<!-- daily -->
		4hrs
		<!-- weekly -->
		Previous - 7hrs
		<!-- weekly -->
		13hrs
		<!-- monthly -->
		Previous - 19hrs
		<!-- monthly -->

		Exercise 1hr
		<!-- daily -->
		Previous - 1hr
		<!-- daily -->
		4hrs
		<!-- weekly -->
		Previous - 5hrs
		<!-- weekly -->
		11hrs
		<!-- monthly -->
		Previous - 18hrs
		<!-- monthly -->

		Social 1hr
		<!-- daily -->
		Previous - 3hrs
		<!-- daily -->
		5hrs
		<!-- weekly -->
		Previous - 10hrs
		<!-- weekly -->
		21hrs
		<!-- monthly -->
		Previous - 23hrs
		<!-- monthly -->

		Self Care 0hrs
		<!-- daily -->
		Previous - 1hr
		<!-- daily -->
		2hrs
		<!-- weekly -->
		Previous - 2hrs
		<!-- weekly -->
		7hrs
		<!-- monthly -->
		Previous - 11hrs
		<!-- monthly -->

*/
